// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  // gap: 15px;
}
// Спойлер
.spollers__item {
  font-size: rem(20);
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.1);
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  background-color: #00d6c0;
  padding: rem(20) rem(15);
  border-radius: rem(5);
  position: relative;
  list-style: none;
  font-weight: 600;
  // text-transform: lowercase;
  // &:first-letter {
  //   text-transform: capitalize;
  // }
  // text-transform: uppercase;

  @media (max-width: $mobile) {
    font-weight: 500;
    font-size: rem(14);
  }

  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      background-color: #000;
      height: 2px;
      width: 15px;
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-75%, -50%) rotate(40deg);
    }
    &::after {
      transform: translate(0, -50%) rotate(-40deg);
    }
    &._spoller-active {
      &::before {
        transform: translateX(-75%) rotate(-40deg);
      }
      &::after {
        transform: rotate(40deg);
      }
    }
    /*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
  }
}
// Контент спойлера
.spollers__body {
  padding: rem(20);
  border-radius: rem(5);
  border: 1px solid #eeeeee;
}
