.branchtwo {
  @include adaptiveValue("padding-top", 130, 120);
  @include adaptiveValue("padding-bottom", 130, 40);
  background-color: #f4f4f4;
  // .branchtwo__container

  &__container {
  }

  // .branchtwo__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }

  // .branchtwo__headline

  &__headline {
    font-weight: 600;
    font-size: rem(22);
    color: $otherColor;
    line-height: math.div(22, 18);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  // .branchtwo__text

  &__text {
    font-family: sans-serif;
    line-height: math.div(22, 18);
    font-size: rem(16);

    @media (max-width: $mobile) {
      //   font-family: Roboto;
      font-weight: 400;
    }
    &_additional {
      @include adaptiveValue("margin-bottom", 30, 10);
    }
    &_else {
      margin-bottom: rem(5);
    }
  }

  // .branchtwo__inner

  &__inner {
    display: grid;
    align-items: center;
    gap: rem(10);
    @include adaptiveValue("margin-top", 60, 20);
    @include adaptiveValue("margin-bottom", 60, 20);

    @media (min-width: $tablet) {
      grid-template-columns: 1fr percent(980, 1440);
    }
  }

  // .branchtwo__image-ibg

  &__image-ibg {
    padding-bottom: percent(240, 280);
    flex: 0 0 percent(240, 280);
    @media (max-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
    img {
      max-width: 100%;
    }
  }

  // .branchtwo__wrapper

  &__wrapper {
    @media (min-width: $mobile) {
      margin-left: rem(50);
    }
  }

  // .branchtwo__list

  &__list {
    font-family: sans-serif;
    font-size: rem(16);

    @include adaptiveValue("margin-top", 20, 10);
    @include adaptiveValue("margin-left", 40, 20);
    @media (max-width: $mobile) {
      //   font-family: Roboto;
      font-weight: 400;
    }
  }

  // .branchtwo__item

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}
