// Заголовки, загальні БЕМ блоки та інше...
.page {
  // .page__hero

  &__hero {
    padding-top: rem(100);
    // @include adaptiveValue("padding-bottom", 50, 30);
  }

  // .page__advantages

  &__advantages {
  }

  // .page__reviews

  &__reviews {
  }

  // .page__services

  &__services {
  }

  // .page__documentation

  &__documentation {
  }

  // .page__services

  &__services {
  }

  // .page__contacts

  &__contacts {
  }

  // .page__branchone

  &__branchone {
  }

  // .page__branchtwo

  &__branchtwo {
  }

  // .page__doctors

  &__doctors {
  }

  // .page__information

  &__information {
  }

  // .page__vaccination

  &__vaccination {
  }

  // .page__news

  &__news {
  }

  // .page__about

  &__about {
  }
}

.text {
  line-height: math.div(27, 16);
}

.title {
  // font-family: Poppins;
  font-weight: 600;
  line-height: 106.71%;
  letter-spacing: 0.5%;
  color: $mainColor;

  transform: translate(0, 15%);
  opacity: 0;
  transition: transform 2s, opacity 2s;

  ._watcher-view & {
    transform: translate(0, 0);
    opacity: 1;
  }
  @include adaptiveValue("font-size", 40, 30);
  // &_s64 {
  //   @include adaptiveValue("font-size", 64, 40);
  // }
  // &_s56 {
  //   @include adaptiveValue("font-size", 56, 35);
  // }
  span {
    color: $purpleColor;
  }
}
