//====================================================================================================

.hero {
  // .hero__image-ibg

  &__image-ibg {
    position: relative;
    padding-bottom: percent(400, 686);
    flex: 0 0 percent(400, 686);

    img {
      max-width: 100%;
    }

    @media (max-width: $mobile) {
      padding-bottom: percent(500, 686);
      flex: 0 0 percent(500, 686);
    }
  }

  // .hero__text-inner

  &__text-inner {
    max-width: 100%;
    overflow: hidden;
  }
  // .hero__text-container

  &__text-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 214, 114, 0.7);
    // background-color: rgba(0, 0, 0, 0.7);
    width: 200%;
    display: flex;
    align-items: center;
    // overflow: hidden;
    // max-width: 60%;

    height: rem(40);
    // padding: rem(5) rem(10);
    color: #fff;
    animation: runText 10s linear infinite; /* Применяем анимацию бегущей строки */
  }

  // .hero__running-text

  &__running-text {
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    font-size: rem(26);
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    // overflow: hidden; /* Скрываем текст, который выходит за границы блока */

    @media (min-width: $mobile) {
      span:first-child,
      span:nth-child(2) {
        margin-right: rem(60);
      }
    }

    @media (max-width: $mobile) {
      font-size: rem(20);
      span:nth-child(2) {
        margin-right: rem(6);
      }
    }
  }
}
@keyframes runText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

//====================================================================================================

.advantages {
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 50, 30);
  background-color: $whiteColor;
  // .advantages__container

  &__container {
  }

  // .advantages__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 64, 30);
    }
  }
  // .advantages__items

  &__items {
    width: 100%;
    display: grid;
    @include adaptiveValue("gap", 56, 20);
    grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
  }

  // .advantages__item

  &__item {
  }

  // .advantages__list

  &__list {
    padding-left: rem(30);
    // text-align: center;
  }
}

.item-advantages {
  padding: rem(15);
  background-color: #f4f4f4;
  border-radius: rem(10);
  min-height: rem(302);

  transform: translate(0, 15%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;

  box-shadow: rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2),
    rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2);

  ._watcher-view & {
    transform: translate(0, 0);
    opacity: 1;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        $delay: $i * 0.3;
        transition-delay: #{$delay}s;
      }
    }
  }

  // .item-advantages__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .item-advantages__title

  &__title {
    font-size: rem(18);
    font-weight: 600;
    text-transform: uppercase;
    line-height: math.div(27, 18);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .item-advantages__text

  &__text {
    min-width: rem(270);
    line-height: math.div(27, 18);

    &--add {
      margin-bottom: rem(10);
    }

    &_paragraph {
      text-indent: rem(20);
    }
  }
}

.list-advantages {
  margin-top: rem(20);
  margin-bottom: rem(20);
  // .list-advantages__item

  &__item {
    list-style: disc;
    color: $additionalColor;
    line-height: math.div(27, 18);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}

//========================================================================================================================================================

.administration {
  position: relative;
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 50, 30);
  background-color: #f4f4f4;
  // .administration__container

  &__container {
  }

  // .reviews__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  // .administration__controls

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    gap: rem(16);
    position: absolute;
    left: rem(20);
    right: rem(20);
    bottom: 50%;
    transform: translateY(50%);
  }

  // .administration__arrow

  &__arrow {
    width: rem(40);
    height: rem(40);
    background-color: #eae6fe;
    border-radius: rem(16);
    color: $purpleColor;
    box-shadow: rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2),
      rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background-color: $purpleColor;
        border: rem(1) solid $purpleColor;
      }
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
      background: #eae6fe;
      color: $purpleColor;
    }

    // .administration__arrow_left

    &_left {
      transform: rotate(90deg);
    }

    // .administration__arrow_right

    &_right {
      transform: rotate(-90deg);
    }
  }

  // .administration__slider

  &__slider {
  }

  // .administration__wrapper

  &__wrapper {
  }

  // .administration__slide

  &__slide {
  }
}

.slide-administration {
  // .slide-administration__inner

  &__inner {
    position: relative;
    z-index: 1;
    border-radius: rem(10);
    padding: rem(30);
    background-color: #fff;
    overflow: hidden;
  }

  // .slide-administration__title

  &__title {
    text-align: center;
    font-size: rem(18);
    font-weight: 600;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  // .slide-administration__image-ibg

  &__image-ibg {
    border-radius: rem(5);
    overflow: hidden;
    padding-bottom: percent(220, 160);
    flex: 0 0 percent(220, 160);

    // overflow: hidden;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    img {
      width: 100%;
    }
  }

  // .slide-administration__wrap

  &__wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(241, 241, 245, 0.74);
    border-radius: 0px 0px 5px 5px;
    padding: rem(5);
    width: 100%;
    height: rem(80);
  }

  // .slide-administration__name

  &__name {
    color: $otherColor;
    text-align: center;
    font-weight: 600;
    transition: color 0.5s ease 0s;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  // .slide-administration__job

  &__job {
    color: black;
    text-align: center;
    font-size: rem(14);
  }
  // .slide-administration__link

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  // .slide-administration__dotts

  &__dotts {
    display: flex;
    justify-content: center;
    gap: rem(15);
    transform: translate(0px, 10%);

    .swiper-pagination-bullet {
      width: rem(20);
      height: rem(30);
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &::after {
        content: "";
        position: absolute;
        height: rem(2);
        width: 100%;
        top: 50%;
        transform: translate(0px, -50%);
        transition: all 0.3s ease 0s;
        background-color: $additionalColor;
      }
      &::before {
        content: "";
        background-color: $purpleColor;
        width: rem(10);
        height: rem(10);
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
        border-radius: 50%;
        position: absolute;
        opacity: 0;
      }
    }
    .swiper-pagination-bullet-active {
      // position: relative;
      width: rem(30);
      &::after {
        background-color: $purpleColor;
      }
      &::before {
        opacity: 1;
        transition: left 3s linear 0s;
        left: rem(20);
      }
    }
  }
  .fraction-controll {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2em;
    // .fraction-control__current

    &__current {
      font-size: rem(24);
      color: $purpleColor;
    }

    // .fraction-control__all

    &__all {
      font-size: rem(18);
    }
  }
}

// .video-container {
//   display: none;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   background-color: rgba(0, 0, 0, 0.8);
// }

// .video-container.active {
//   display: flex;
// }

//========================================================================================================================================================

// .services {
//   @include adaptiveValue("padding-top", 50, 30);
//   @include adaptiveValue("padding-bottom", 50, 30);
//   // .services__container

//   &__container {
//   }

//   // .services__title

//   &__title {
//     text-align: center;
//     @include adaptiveValue("margin-bottom", 60, 30);
//   }

//   // .services__inner

//   &__inner {
//     display: grid;
//     align-items: center;
//     row-gap: rem(30);
//     @media (min-width: $tablet) {
//       grid-template-columns: 1fr percent(500, 1040);
//     }
//   }

//   // .services__links

//   &__links {
//     display: flex;
//     flex-direction: column;
//   }

//   // .services__link

//   &__link {
//     position: relative;
//     text-align: center;
//     font-weight: 600;
//     font-size: rem(20);
//     color: #919191;
//     padding: rem(20);
//     transition: all 0.3s ease 0s;

//     &::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 20%;
//       height: 100%;
//       width: 0;
//       background-color: #00d6c0;
//       // background-color: $purpleColor;
//       transition: width 0.3s ease;
//       z-index: -1;
//     }

//     &.active::before,
//     &:hover::before {
//       width: 60%;
//       left: 20%;
//     }
//     @media (any-hover: hover) {
//       &:hover {
//         color: $mainColor;
//       }
//     }
//   }

//   // .services__images

//   &__images {
//     display: flex;
//     justify-content: center;

//     @media (max-width: $mobileSmall) {
//       // flex-direction: column;
//       // justify-content: center;
//       // align-items: center;
//     }
//   }

//   // .services__image-ibg

//   &__image-ibg {
//     position: relative;
//     padding-bottom: percent(314, 500);
//     flex: 1 1 percent(314, 500);
//     display: none;
//     &::after {
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       width: rem(40);
//       height: rem(40);
//       transform: translate(-50%, -50%);
//       background-image: url(../img/reviews/icons/youtube.svg);
//     }
//     img {
//       max-width: 100%;
//     }
//     &.active {
//       display: block;
//     }
//   }
// }
// .video-container {
//   display: none;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   background-color: rgba(0, 0, 0, 0.8);
// }

// .video-container.active {
//   display: flex;
// }

//========================================================================================================================================================

.documentation {
  // @include adaptiveValue("padding-top", 50, 30);
  position: relative;
  @include adaptiveValue("padding-bottom", 50, 30);
  background-color: #f4f4f4;

  // .documentation__container

  &__container {
  }

  // .documentation__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 20);
    }
  }

  // .documentation__controls

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: rem(16);
    position: absolute;
    left: rem(20);
    right: rem(20);
    bottom: 50%;
    transform: translateY(50%);

    @media (max-width: em(1290)) {
      z-index: 2;
    }
  }

  // .documentation__arrow

  &__arrow {
    box-shadow: rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2),
      rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2);
    width: rem(40);
    height: rem(40);
    background-color: #eae6fe;
    border-radius: rem(16);
    color: $purpleColor;
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background-color: $purpleColor;
        border: rem(1) solid $purpleColor;
      }
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
      background: #eae6fe;
      color: $purpleColor;
    }

    // .documentation__arrow_left

    &_left {
      transform: rotate(90deg);
    }

    // .documentation__arrow_right

    &_right {
      transform: rotate(-90deg);
    }
  }
  // .documentation__slider

  &__slider {
  }

  // .documentation__wrapper

  &__wrapper {
  }

  // .documentation__slide

  &__slide {
  }
}

.slide-documentation {
  // .slide-documentation__inner

  &__inner {
    position: relative;
    box-shadow: rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2),
      rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2);
  }

  // .slide-documentation__image-ibg

  &__image-ibg {
    display: block;

    // position: relative;
    padding-bottom: percent(380, 270);
    flex: 0 0 percent(380, 270);
    // padding-bottom: percent(220, 160);
    // flex: 0 0 percent(220, 160);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    // @media (max-width: $mobile) {
    //   padding-bottom: percent(485, 768);
    //   flex: 0 0 percent(485, 768);
    // }

    img {
      width: 100%;
      transition: all 0.3s;

      @media (any-hover: hover) {
        &:hover {
          scale: 1.03;
          box-shadow: rem(0) rem(4) rem(20) rgba(0, 0, 0, 0.3),
            rem(0) rem(4) rem(20) rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
