.news {
  @include adaptiveValue("padding-top", 150, 120);
  @include adaptiveValue("padding-bottom", 130, 40);
  background-color: $whiteColor;
  // .news__container

  &__container {
  }

  // .news__title

  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 40, 20);
  }
  // .news__inner

  &__inner {
    display: grid;
    gap: rem(20);
    background-color: #f4f4f4;
    border-radius: rem(5);
    padding: rem(15) 0 rem(15) rem(15);

    box-shadow: rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2),
      rem(0) rem(2) rem(10) rgba(0, 0, 0, 0.2);

    @media (max-width: $tablet) {
      padding: rem(15);
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }

    @media (min-width: $tablet) {
      grid-template-columns: 1fr percent(980, 1440);
    }
  }

  // .news__inners

  &__inners {
    min-width: 0;
  }
  // .news__date

  &__date {
    text-align: center;
    margin-bottom: rem(10);
  }
  // .slide-news__image-ibg

  &__image-ibg {
    padding-bottom: percent(320, 280);
    flex: 0 0 percent(320, 280);

    // @media (max-width: $tablet) {
    //   padding-bottom: percent(320, 280);
    //   flex: 0 0 percent(320, 280);
    // }
  }

  // .news__image-ibg-other

  &__image-ibg-other {
    padding-bottom: percent(280, 280);
    flex: 0 0 percent(280, 280);
  }
  // .news__wrapp

  &__wrapp {
    @media (min-width: $tablet) {
      max-height: rem(430);
    }
    overflow-y: scroll;
  }

  // .news__title-other

  &__title-other {
    font-weight: 600;
    font-size: rem(22);
    color: $otherColor;
    line-height: math.div(22, 18);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  // .news__text

  &__text {
    line-height: math.div(22, 18);
    font-size: rem(16);

    @media (max-width: $mobile) {
      font-weight: 400;
    }
    &_additional {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
    &_add {
      @include adaptiveValue("margin-top", 20, 10);
    }
    &_bolt {
      font-weight: 600;
      font-size: rem(18);
    }
    &_paragraph {
      text-indent: rem(20);
    }
  }

  // .news__link

  &__link {
    color: #1061be;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #3283e0;
      }
    }
  }
  // .news__list

  &__list {
    &:not(:last-child) {
      margin-left: rem(30);
    }
  }

  // .news__item

  &__item {
    list-style: disc;
    color: $additionalColor;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
}
.slide-news {
  // .slide-news__inner

  &__inner {
  }

  // .slide-news__image-ibg

  &__image-ibg {
    display: block;
    position: relative;
    // padding-bottom: percent(320, 760);
    // flex: 0 0 percent(320, 760);
    padding-bottom: percent(320, 270);
    flex: 0 0 percent(320, 270);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    // @media (max-width: $mobile) {
    //   padding-bottom: percent(485, 768);
    //   flex: 0 0 percent(485, 768);
    // }

    img {
      width: 100%;
    }
  }
}
.news__wrapp::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
}

.news__wrapp::-webkit-scrollbar-track {
  background: #f4f4f4; /* цвет зоны отслеживания */
}

.news__wrapp::-webkit-scrollbar-thumb {
  background-color: #b7b7b8; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 2px solid #ffffff; /* отступ вокруг бегунка */
}
